body {
    font-family: 'Zen Kaku Gothic New';
    font-weight: 400;
    color: rgba(255,255,255,0.8);
    background-color: #02111e;
 }
 
#profilepic {
    background-color: gray;
    width: 300px;
    height: 413px;
    top: 0;
}

#ja-name {
    font-size: 3.5rem;
    padding-right: 32px;
    white-space: nowrap;
}

#en-name {
    font-weight: 300;
    font-size: 1.8rem;
    white-space: nowrap;
}

#container {
    max-width: 800px;
    padding: 5%;
    padding-bottom: 180px;
}

#history {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.date {
    font-weight: 900;
    letter-spacing: .7px;
}

.event {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 24px;
}
td {
    padding-right: 32px;
    padding-bottom: 12px;
}

p {
    line-height: 1.7;
}

#game-link {
    text-decoration: none;
    border: 0.5px solid white;
    padding: 13px;
    color: white;
    letter-spacing: 1.3px;
    margin-top: 40px;
    transition: all 300ms ease-out;
}

#description {
    margin-bottom: 64px;
}

#game-link:hover {
    color: rgba(255,255,255,0.5);
}

@media (min-width: 768px) {
    #container {
        padding: 80px;
    }

    #history {
        grid-template-columns: max-content 1fr;
        grid-gap: 16px 40px;
    }

    .event {
        margin: 0;
    }

    #en-name {
        font-size: 3.5rem;
    }

    #ja-name {
        font-size: 3.5rem;
    }    
    
}